
@{
    ViewData["Title"] = "Keen-chick: Скоро у кіно";
}

@section Styles {
    <link rel="stylesheet" href="~/css/upcoming.css" asp-append-version="true" />
}

 <div class="back-btn-div font-main">
  <a asp-area="" asp-controller="Home" asp-action="Index" class="back-btn "> ← Назад</a>
</div>

    <p class="font-main main-text" style="margin-left:2rem; margin-top:1rem">Скоро у кіно в Україні:</p>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
   
    <!-- Одна картка-новий фільм -->
      <div class="col h-100 ">
        <div class="styled-container">
            <div class="card-img-container">
                <img src="https://m.media-amazon.com/images/I/71PuxqbE3pL._UF894,1000_QL80_.jpg" class="card-img-top" alt="movie.Title">
            </div>
         
          <div class="card-body">
            <h5 class="card-title font-main main-text">Назва фільму</h5>
            <p class="card-text font-secondary">Жанр/інший жанр</p>
            <p class="card-text font-main">Опис блабалаблабалаалалабалал Опис блабалаблабалаа</p>
            <p class="card-sec-text font-secondary"><i class="user-icon fa-regular fa-calendar" style="margin-right:0.5rem"></i>2035/02/20</p>
          </div>
        </div>
      </div>

     <!-- кінець однієї картки-нового фільму -->

    <div class="col h-100 ">
        <div class="styled-container">
            <div class="card-img-container">
                <img src="https://m.media-amazon.com/images/I/71PuxqbE3pL._UF894,1000_QL80_.jpg" class="card-img-top" alt="movie.Title">
            </div>
         
          <div class="card-body">
            <h5 class="card-title font-main main-text">Назва фільму</h5>
            <p class="card-text font-secondary">Жанр/інший жанр</p>
            <p class="card-text font-main">Опис блабалаблабалаалалабалал Опис блабалаблабалаа</p>
            <p class="card-sec-text font-secondary"><i class="user-icon fa-regular fa-calendar" style="margin-right:0.5rem"></i>2035/02/20</p>
          </div>
        </div>
      </div>

       <div class="col h-100 ">
        <div class="styled-container">
            <div class="card-img-container">
                <img src="https://m.media-amazon.com/images/I/71PuxqbE3pL._UF894,1000_QL80_.jpg" class="card-img-top" alt="movie.Title">
            </div>
         
          <div class="card-body">
            <h5 class="card-title font-main main-text">Назва фільму</h5>
            <p class="card-text font-secondary">Жанр/інший жанр</p>
            <p class="card-text font-main">Опис блабалаблабалаалалабалал Опис блабалаблабалаа</p>
            <p class="card-sec-text font-secondary"><i class="user-icon fa-regular fa-calendar" style="margin-right:0.5rem"></i>2035/02/20</p>
          </div>
        </div>
      </div>

      <div class="col h-100 ">
        <div class="styled-container">
            <div class="card-img-container">
                <img src="https://m.media-amazon.com/images/I/71PuxqbE3pL._UF894,1000_QL80_.jpg" class="card-img-top" alt="movie.Title">
            </div>
         
          <div class="card-body">
            <h5 class="card-title font-main main-text">Назва фільму</h5>
            <p class="card-text font-secondary">Жанр/інший жанр</p>
            <p class="card-text font-main">Опис блабалаблабалаалалабалал Опис блабалаблабалаа</p>
            <p class="card-sec-text font-secondary"><i class="user-icon fa-regular fa-calendar" style="margin-right:0.5rem"></i>2035/02/20</p>
          </div>
        </div>
      </div>
     

  </div>
</div>
