
.back-btn{
  width: 100%;
  display: inline-block;
  padding:  5px 5px 5px 5px;
  border-radius: 10px;

  background: linear-gradient(180deg,rgba(42, 37, 71, 0.5) 0%,
                                rgba(57, 63, 75, 0.3) 40%,
                                  rgba(17, 30, 52, 0.2) 100%);
  backdrop-filter: blur(10px);

  color:hsla(227, 16%, 60%, 0.9);
  font-size: 14pt;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  text-decoration: none;
  text-align: center;

  box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -webkit-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -moz-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);

  border:solid 3px rgba(12, 109, 109, 0.2);
}

.back-btn-div{
  width: 10vw;

}

.movie-info-big-div{

  border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(199deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  backdrop-filter: blur(10px);

  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  padding: 10px;


}

.movie-thumb {
  height: 70vh;
  width: 20vw;
  object-fit: cover;
  border-radius: 8px;
}


.session-movie-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #bee1ff;
  text-shadow: 4px 3px 2px rgba(0,0,0,0.5);
  isolation: isolate;    
}

.tags-genres-div{
   display: flex;
  gap: 0.5rem; 
  align-items: center;
  flex-wrap: wrap;
}
.genre-tag,
.rating-tag{

  color: #bee1ff;
  border-radius: 12px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  background: linear-gradient(180deg,rgba(45, 38, 86, 0.3) 0%,
                                rgba(51, 77, 114, 0.3) 40%,
                                  rgba(18, 40, 81, 0.3) 100%);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border: 2px solid #53638043;
  backdrop-filter: blur(10px);
}


.rating-tag:hover{
     background: linear-gradient(180deg,rgba(122, 82, 82, 0.5) 0%,
                                rgba(104, 73, 73, 0.3) 40%,
                                  rgba(117, 86, 86, 0.2) 100%);

}

.genre-tag:hover{
     background: linear-gradient(180deg,rgba(63, 54, 109, 0.5) 0%,
                                rgba(64, 81, 114, 0.3) 40%,
                                  rgba(72, 91, 127, 0.2) 100%);

}

.rating-tag{
    background: linear-gradient(180deg,rgba(86, 38, 38, 0.3) 0%,
                                rgba(114, 72, 51, 0.3) 40%,
                                  rgba(81, 18, 18, 0.3) 100%);

}

.movie-info-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
}

.session-all-tags {
  margin-top: 1rem;
  flex-wrap: wrap;
}

.session-info  {

  margin-left: 15vh;
  padding-top: 5px;
  text-shadow: 4px 3px 2px rgba(0,0,0,1);
}

.session-info span {

  font-size: 0.9rem;
  color: #bee1ff;
  margin-left: 2rem;

}

.movie-director{
  font-size: 1rem;
  color: #a1c3eb;

  margin-top: 2rem;
  font-weight: 300;

}

.movie-director span{
  font-weight: 500;
  color: #bee1ff;
  margin-right: 5px;
}

.movie-actors{
  font-size: 1rem;
  color: #a1c3eb;


  font-weight: 300;

}

.movie-actors span{
  font-weight: 500;
  color: #bee1ff;
  margin-right: 5px;
}

.movie-desc{
  font-size: 1rem;
  color: #a1c3eb;
  padding-right: 2rem;


  font-weight: 300;

}

.session-time-windows-div{
  border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(199deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  backdrop-filter: blur(10px);

  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  padding: 1rem;

  transition: all 0.2s ease;
}

.session-time-window:hover {
  background: linear-gradient(180deg,rgba(14, 6, 72, 0.3) 0%, 
                                  rgba(104, 158, 173, 0.3) 50%, 
                                  rgba(56, 15, 78, 0.3) 100%);
  border-color: rgba(90, 90, 90, 0.4);
}

.session-time-window.selected {
  background: linear-gradient(180deg,rgba(61, 22, 94, 0.4) 0%, 
                                  rgba(120, 143, 203, 0.4) 50%, 
                                  rgba(68, 25, 91, 0.4) 100%);
  border-color: rgba(90, 90, 90, 0.5);
  cursor: default;
}


.session-times-text {

  color:rgba(217, 254, 255, 0.9);
  font-size: 20pt;
  text-shadow: 4px 3px 2px rgba(0,0,0,1);
}

.session-times-text-div{
  margin: 0px 2rem 1rem 2rem;
}

.session-time-window{
   border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(180deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  padding: 1rem;
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;

}

.session-free-places,
.session-hall{
    color:rgba(217, 254, 255, 0.9);
    font-size: 0.9rem;
}

.no-sessions-text{
  font-size: 1.2rem;
  color:rgba(119, 191, 193, 0.9);
  text-align: center;
  text-shadow: 4px 3px 2px rgba(0,0,0,0.4);

}

.session-time{
  font-size: 1.5rem;
  color:rgba(217, 254, 255, 0.9);
}
.session-booking-info-div{
  padding-left: 2rem;

}

.session-booking-text-places{
    color:rgba(217, 254, 255, 0.9);
    font-size: 1.3rem;
}

.session-booking-text{
    color:rgba(217, 254, 255, 0.9);
    font-size: 0.9rem;
}

.booking-btn{
  width: 100%;
  display: inline-block;
  padding:  5px 5px 5px 5px;
  border-radius: 10px;

  background: linear-gradient(180deg,rgba(42, 37, 71, 0.5) 0%,
                                rgba(57, 63, 75, 0.3) 40%,
                                  rgba(17, 30, 52, 0.2) 100%);
  backdrop-filter: blur(10px);

  color:hsla(209, 40%, 74%, 0.9);
  font-size: 14pt;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  text-decoration: none;
  text-align: center;

  box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -webkit-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -moz-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);

  border:solid 3px rgba(12, 109, 109, 0.2);
}

.disabled{
  cursor: not-allowed;
  background: linear-gradient(180deg,rgba(20, 14, 51, 0.5) 0%,
                                rgba(23, 34, 58, 0.3) 40%,
                                  rgba(2, 6, 12, 0.2) 100%);
  color:hsla(209, 40%, 74%, 0.2);
}



.booking-btn-div{
  width: 15vw;

}

.booking-btn:hover:not(.disabled){
   background: linear-gradient(180deg,rgba(70, 61, 116, 0.5) 0%,
                                rgba(92, 104, 126, 0.3) 40%,
                                  rgba(54, 70, 99, 0.2) 100%);

   color: #cff1ff;

}



.seat-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.row-label {
  width: 2rem;
  font-weight: bold;
  color: #bee1ff;
}
.seat {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(46, 95, 108, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);

  border:solid 2px rgba(152, 182, 201, 0.3);
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.premium-seat{
  width: 90px;
  height: 40px;
  background: linear-gradient(180deg,rgba(117, 93, 0, 0.3) 0%, 
                                  rgba(190, 121, 82, 0.3) 50%, 
                                  rgba(146, 109, 36, 0.3) 100%);

  border:solid 2px rgba(152, 182, 201, 0.3);
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;

}
.seat:hover{
  background: linear-gradient(180deg,rgba(32, 24, 81, 0.3) 0%, 
                                  rgba(62, 139, 161, 0.3) 50%, 
                                  rgba(68, 24, 113, 0.3) 100%);

}

.premium-seat:hover{
  background: linear-gradient(180deg,rgba(159, 135, 36, 0.3) 0%, 
                                  rgba(222, 161, 125, 0.3) 50%, 
                                  rgba(181, 145, 73, 0.3) 100%);
}

.seat.selected,
.premium-seat.selected {
  background: linear-gradient(180deg,rgba(7, 146, 63, 0.3) 0%, 
                                  rgba(191, 255, 152, 0.3) 50%, 
                                  rgba(48, 153, 58, 0.3) 100%);
}
.seat.occupied,
.premium-seat.occupied {
  background: linear-gradient(180deg,rgba(159, 18, 18, 0.5) 0%, 
                                  rgba(205, 76, 76, 0.5) 50%, 
                                  rgba(181, 25, 25, 0.5) 100%);
  cursor: not-allowed;
}

.seat-legend{
  margin: 2rem;

}

.seat-desc{
  margin: 10px 10px 0px 10px;
  color:rgba(217, 254, 255, 0.9);
    font-size: 1rem;
}

.modal-content{
  border:solid 3px rgba(118, 186, 191, 0.2) !important;
  border-radius: 28px !important;

  background: linear-gradient(180deg,rgba(2, 0, 16, 0.8) 0%, 
                                  rgba(5, 2, 23, 0.8) 50%, 
                                  rgba(21, 0, 18, 0.8) 100%) !important;
  color:rgba(217, 254, 255, 0.9);

}
.modal-content hr{
  width: 100%;

}

.modal-header,
.modal-footer{
  border: none !important;
}

.modal-booking-btn{
   width: 50%;
  display: inline-block;
  border-radius: 10px;

  background: linear-gradient(180deg,rgba(42, 37, 71, 0.5) 0%,
                                rgba(57, 63, 75, 0.3) 40%,
                                  rgba(17, 30, 52, 0.2) 100%);
  
  color:hsla(209, 40%, 74%, 0.9);
  font-size: 14pt;
  text-decoration: none;
  text-align: center;

  border:solid 3px rgba(12, 109, 109, 0.2);
}

.modal-booking-btn:hover{
   background: linear-gradient(180deg,rgba(70, 61, 116, 0.5) 0%,
                                rgba(92, 104, 126, 0.3) 40%,
                                  rgba(54, 70, 99, 0.2) 100%);

   color: #98cde3;

}

.styled-container{
  border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(199deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  backdrop-filter: blur(10px);

  padding: 10px;

}

#selectedMovie,
.found-movie{
   width: 100%;
  display: inline-block;
  border-radius: 20px;

  background: linear-gradient(180deg,rgba(68, 63, 100, 0.5) 0%,
                                rgba(94, 110, 144, 0.3) 40%,
                                  rgba(59, 79, 114, 0.2) 100%);
  
  color:hsla(209, 40%, 74%, 0.9);
  font-size: 12pt;
  text-decoration: none;
  text-align: center;
  padding: 5px;

  border:solid 3px rgba(12, 109, 109, 0.2);
}

#selectedMovie i:hover,
.found-movie i:hover{
  cursor: pointer;
  color: #434f8db7;
}

.change-movie-text{
  color:hsla(209, 40%, 74%, 0.9);
  text-align: center;
   font-size: 16pt;
}

#searchMovieInApi{

  appearance: none; 
  background: linear-gradient(140deg, rgba(40,40,85,0.4), rgba(15,15,35,0.6));
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #e2edff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: relative;
   width: 100%;
}

#searchMovieInApi:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 100, 207, 0.3);
   background: linear-gradient(140deg, rgba(50, 50, 103, 0.4), rgba(27, 27, 63, 0.6));
}

#datePicker{
  width: 100%;
   background: linear-gradient(140deg, rgba(40,40,85,0.4), rgba(15,15,35,0.6));
  border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 20px;
   color: #e2edff;
   

}

#datePicker:hover{

   background: linear-gradient(140deg, rgba(73, 73, 158, 0.4), rgba(36, 36, 82, 0.6));

   

}

#dateContainer{

  margin-top:4px;
  
  
}
.session-times-admin-text {

  color:rgba(217, 254, 255, 0.9);
  font-size: 12pt;
  text-shadow: 2px 2px rgba(0,0,0,0.4);
}

.session-time-admin-window{
   border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(180deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  padding: 1rem;
  width: fit-content;
  margin-left: 1.5%;
  margin-right: 1.5%;

}


.session-time-add-window{
   border:solid 3px rgba(90, 90, 90, 0.2);
  border-radius: 28px;

  background: linear-gradient(180deg,rgba(5, 0, 36, 0.3) 0%, 
                                  rgba(91, 137, 150, 0.3) 50%, 
                                  rgba(46, 0, 38, 0.3) 100%);
  padding: 1rem;
  width: fit-content;
  margin-left: 1.5%;
  margin-right: 1.5%;
  color:rgba(217, 254, 255, 0.9);
}

.session-time-add-window:hover{
  background: linear-gradient(180deg,rgba(14, 6, 72, 0.3) 0%, 
                                  rgba(104, 158, 173, 0.3) 50%, 
                                  rgba(56, 15, 78, 0.3) 100%);
  border-color: rgba(90, 90, 90, 0.4);
  color: #434f8db7;

}

.change-time-input{
  background-color: #12172b;
   width: 50%;
}

.dropdown-select {
  appearance: none; 
  background: linear-gradient(140deg, rgba(40,40,85,0.4), rgba(15,15,35,0.6));
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #e2edff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  position: relative;
  width: 100%;
}

.dropdown-select:hover{
  background: linear-gradient(140deg, rgba(61, 61, 122, 0.4), rgba(53, 53, 110, 0.6));
}

.dropdown-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8cc5cfb8;
  font-size: 12px;
}

.dropdown-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 100, 207, 0.3);
   background: linear-gradient(140deg, rgba(50, 50, 103, 0.4), rgba(27, 27, 63, 0.6));
}

.dropdown-select option {
  background-color: #12172b;
  color: #e2edff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

.delete-time-btn{
   width: 100%;
  display: inline-block;
  padding:  5px 5px 5px 5px;
  border-radius: 20px;

  background: linear-gradient(180deg,rgba(42, 37, 71, 0.5) 0%,
                                rgba(57, 63, 75, 0.3) 40%,
                                  rgba(17, 30, 52, 0.2) 100%);
  backdrop-filter: blur(10px);

  color:hsla(227, 16%, 60%, 0.9);
  font-size: 10pt;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  text-decoration: none;
  text-align: center;

  box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -webkit-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);
  -moz-box-shadow: -1px 6px 12px 3px rgba(7,0,42,0.1);

  border:solid 3px rgba(12, 109, 109, 0.2);
  cursor: pointer;
}

.delete-time-btn:hover{
  background: linear-gradient(180deg,rgba(75, 68, 119, 0.5) 0%,
                                rgba(63, 75, 99, 0.3) 40%,
                                  rgba(51, 70, 104, 0.2) 100%);
  color: #525d8b;

}

.date-form{
  width: 30%;
}


.dropdown-div select{
  width: 100%;

  appearance: none; 
  background: linear-gradient(140deg, rgba(40,40,85,0.4), rgba(15,15,35,0.6));
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #e2edff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  position: relative;
}

.dropdown-div  select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 100, 207, 0.3);
   background: linear-gradient(140deg, rgba(50, 50, 103, 0.4), rgba(27, 27, 63, 0.6));
}

.dropdown-div  select option {
  background-color: #12172b;
  color: #e2edff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12pt;
}

.date-form label{
  font-size:14pt;
  margin-top: 5px;
}

.dropdown-div{
  flex: 0 0 auto;
  position:relative;
  width: 60%;
}

.dropdown-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8cc5cfb8;
  font-size: 12px;
}

.hidden{
  display: none !important;

}

#existingMovieSelect{
  appearance: none;
  background: linear-gradient(140deg, rgba(40,40,85,0.4), rgba(15,15,35,0.6));
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #e2edff;
  font-size: 14pt;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  position: relative;
  width: 100%;
}


#existingMovieSelect option {
  background-color: #12172b;
  color: #e2edff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12pt;
}

.selected-movie-name{
  color:rgba(169, 187, 245, 0.9);
  font-size: 12pt;
  text-shadow: 2px 2px rgba(0,0,0,0.4);
}

#existingMovieSelect:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(107, 100, 207, 0.3);
   background: linear-gradient(140deg, rgba(50, 50, 103, 0.4), rgba(27, 27, 63, 0.6));
}